.head-info-zone {
    font-size: 16px;

    .text-info {
        font-size: 20px;
        font-weight: bold;
    }

    .total-num,
    .downloaded-num,
    .download-failed-num {
        display: inline-block;
    }
}

.file-list-zone {
    font-size: 16px;

    table {
        border: 1px solid black;
        border-collapse: collapse;

        th,
        td {
            border: 1px solid black;
            padding: 4px;
        }
    }
}