@import '../popup-enabled/popup-enabled.scss';

html {
    body {
        height: 420px;
        .body-zone {
            padding-bottom: 16px;

            .inner-body {
                .desc-zone {
                    margin-top: 16px;
                }
            }
        }
    }
}